<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SouthwestAutoCheckin.Properties.CheckIn" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SouthwestAutoCheckin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SouthwestAutoCheckin.Properties.CheckIn>
            <setting name="URL" serializeAs="String">
                <value>https://www.southwest.com/flight/retrieveCheckinDoc.html</value>
            </setting>
            <setting name="ConfirmationNumberCss" serializeAs="String">
                <value>input#confirmationNumber</value>
            </setting>
            <setting name="ConfirmationFirstNameCss" serializeAs="String">
                <value>input#passengerFirstName</value>
            </setting>
            <setting name="ConfirmationLastNameCss" serializeAs="String">
                <value>input#passengerLastName</value>
            </setting>
            <setting name="ConfirmationSubmitButtonCss" serializeAs="String">
                <value>button.submit-button</value>
            </setting>
            <setting name="ConfirmationErrorCss" serializeAs="String">
                <value>div.page-error</value>
            </setting>
            <setting name="SendToEmailButtonCss" serializeAs="String">
                <value>button.boarding-pass-options--button-email</value>
            </setting>
            <setting name="EmailSubmitButton" serializeAs="String">
                <value>button.form-mixin--submit-button</value>
            </setting>
            <setting name="SendToTextPhoneButtonCss" serializeAs="String">
                <value>button.boarding-pass-options--button-text</value>
            </setting>
            <setting name="SendToTextPhoneSubmitButtonCss" serializeAs="String">
                <value>button.form-mixin--submit-button</value>
            </setting>
            <setting name="EmailAddressInputCss" serializeAs="String">
                <value>input#emailBoardingPass</value>
            </setting>
            <setting name="ChooseNextDeliveryMethodCss" serializeAs="String">
                <value>div.overlay-background</value>
            </setting>
            <setting name="TextPhoneInputCss" serializeAs="String">
                <value>input#textBoardingPass</value>
            </setting>
        </SouthwestAutoCheckin.Properties.CheckIn>
        <SouthwestAutoCheckin.Properties.Settings>
            <setting name="TestConfirmationPageAddress" serializeAs="String">
                <value>https://www.southwest.com/flight/lookup-air-reservation.html?default=cc</value>
            </setting>
            <setting name="TestConfirmationNumberFieldHtmlId" serializeAs="String">
                <value>confirmationNumber</value>
            </setting>
            <setting name="TestConfirmationFirstNameFieldHtmlId" serializeAs="String">
                <value>passengerFirstName</value>
            </setting>
            <setting name="TestConfirmationLastNameFieldHtmlId" serializeAs="String">
                <value>passengerLastName</value>
            </setting>
            <setting name="TestConfirmationSubmitButtonFieldHtmlId" serializeAs="String">
                <value>form-mixin--submit-button</value>
            </setting>
            <setting name="TestConfirmationErrorHtmlSelector" serializeAs="String">
                <value>li.page-error--message</value>
            </setting>
            <setting name="ScheduledCheckInJsonDirectory" serializeAs="String">
                <value>.\ScheduledCheckIns</value>
            </setting>
            <setting name="SouthwestCheckInBaseDirectory" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="FirefoxBinaryPath" serializeAs="String">
                <value>.\FirefoxPortable\FirefoxPortable.exe</value>
            </setting>
            <setting name="TestDataFilePath" serializeAs="String">
                <value>.\TestData.txt</value>
            </setting>
        </SouthwestAutoCheckin.Properties.Settings>
    </userSettings>
</configuration>